/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}




/* Remove margins and padding from the list */
table {
    margin: 0;
    padding: 0;
}

/* Style the list items */
table {
    cursor: pointer;
    position: relative;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 5px;
    text-align: left;
}

tr:hover {
    background-color: #bcbcbc;
}


/* Style the header */
.header {
    background-color: #f44336;
    color: white;
    text-align: center;
}

footer {
    background-color: #eee;
}

header {
    margin: 40px;
    align-self: center;
    text-align: center;
}

article {
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:010px;
    background-color: #eee;
}


body {
    background-color: #eee;
}

h1,h2,h3{
    line-height:1.2
}


#table-toggle {
    float:left;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%
}

